body {
  background: whitesmoke;
}
.header-container {
  display: flex;
  width: -webkit-fill-available;
  justify-content: space-between;
  background: #e26a2c;
  color: white;
}

.header-right-section {
  margin-right: 14px;
}
.header-right-section ul {
  list-style: none;
  display: flex;
  margin: 7px 0px;
}
.header-right-section ul li {
  padding: 3px 6px 3px 6px;
  cursor: pointer;
}
.header-center-section {
  font-weight: 500;
  font-size: 17px;
}
.header-center-section ul {
  list-style: none;
  display: flex;
  margin: 7px 0px;
}
.header-center-section ul li {
  padding: 3px 6px 3px 6px;
  cursor: pointer;
}

.header-center-section ul a{
  cursor: pointer;
  text-decoration: none;
  color:inherit
}

.header-left-section img {
  width: 36px;

  padding: 3px 15px;
}
.activeTab {
  border-bottom: 3px solid #e4d118;
}

.body-container {
  margin: 15px 40px;
  padding: 15px 15px;
  border: 3;
}

/* products css */
.product-widget {
  padding: 10px;
  cursor: pointer;
  border: 1px solid #e8d7d7;
  margin: 7px;
}
.product-title {
  content-visibility: auto;
  height: 23px;
  margin-top: 7px;
  color: #172026;
  letter-spacing: 0;
  line-height: 20px;
  text-align: left;
  font-size: 16px;
  font-weight: 500;
  opacity: 0.9;
}
.product-rating {
  font-size: 15px;
  opacity: 0.5;
  font-weight: 500;
}
.product-pricing {
  font-size: 15px;
  opacity: 0.5;
  font-weight: 500;
}


.product-img {
  text-align: center;
}

.product-img img {
  width: -webkit-fill-available;
  height: 273px;
}

.product-footer-button {
  background-color: #e26a2c !important;
  color: white !important;
}

.quantity-container {
  display: flex;
}

.quantity-section .title {
  color: #172026;
  letter-spacing: 0;
  line-height: 20px;
  text-align: left;
  font-size: 16px;
  font-weight: 500;
  opacity: 0.9;
}

.quantity-button {
  cursor: pointer;
  font-size: 23px;
  font-weight: bold;
  background: whitesmoke;
  width: 30px;
  height: 30px;
  text-align: center;
  border-radius: 50%;
  border: 2px solid #bebebe;
  /* display: flex; */
  line-height: 1.1;
  color: #8b7f7f;
}

.quantity-input {
  margin-right: 7px;
  margin-left: 7px;
}

.quantity-input input {
  padding: 3px;
  border: none;
  border: 2px solid #9c8e8e;
  width: 37px;
  border-radius: 5px;
  height: 24px;
  text-align: center;
}

.quantity-input input::-webkit-outer-spin-button,
.quantity-input input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}


.para {
  padding: 11px;
  font-size: 15px;
  color: #172026;
  letter-spacing: 0;
  line-height: 24px;
  margin-top: 15px;
  text-align: left;
}
.para-title {
  color: #172026;
  letter-spacing: 0;
  line-height: 20px;
  text-align: left;
  font-size: 16px;
  font-weight: 500;
  opacity: 0.9;
}

.cart-list {
  border: 1px solid #ccc4c4;
}

.cart-list-img {
  max-width: 60px;
  padding: 10px;
}

.cart-list-content {
  padding: 10px;
}

.cart-list-footer {
  padding: 10px;

  border-top: 1px solid #ccc4c4;
  background: #f4f4f4;
}
.cart-list-action-container {
  display: flex;
  justify-content: right;
}

.cart-list-action-container .removebutton {
  color: #000000;
  align-self: center;
  margin-left: 19px;
  font-size: 16px;
  font-weight: 500;
  opacity: 0.6;
  cursor: pointer;
}

.cart-list-action-container .removebutton span {
  vertical-align: top;
}

.header-section {
  border-bottom: 1px inset;
  display: flex;
  justify-content: space-between;
  padding: 7px 14px;
  height: 33px;
}

.header-section .left-section {
  align-self: center;
  font-size: 16px;
  color: black;
  opacity: 0.4;
  font-weight: 500;
}


.header-section
  .right-section
  .css-nxo287-MuiInputBase-input-MuiOutlinedInput-input {
  height: 0.01rem;
}

.anchorTag {
  align-self: center;
  color: blue;
  cursor: pointer;
  font-size: 16px;
}

.custom-container {
  background-color: white;
  height: fit-content;
}
.shadow {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.filter-container {
  display: flex;
  width: 100%;
  margin: auto;
  height: 50vh;
  align-items: center;
  place-content: center;
  font-size: 15px;
  opacity: 0.7;
}

.single-img {
  max-height: 360px;
  max-width: 360px;
}
.padding-36 {
  padding: 36px;
}

.mt-5 {
  margin-top: 5px;
}

.mt-18 {
  margin-top: 18px;
}

.mb-18 {
  margin-bottom: 18px;
}

.pagination-container {
  font-weight: 500;
  font-size: 16px;
  float: right;
  margin-right: 23px;
  margin-top: 11px;
}

.pagination-container ul {
  list-style: none;
  display: flex;
  margin: 0;
}

.pagination-container ul li {
  padding: 8px;
  margin-right: 7px;
  width: 16px;
  height: 16px;
  text-align: center;
  line-height: 1;
  opacity: 0.6;
  cursor: pointer;
}

.pagination-active {
  background: #e26a2c;
  opacity: 1 !important;
  color: white;
}


.filters-list-container ul {
  margin: 0;
  list-style: none;
  margin-left: -42px
}

.filters-list-container ul li {
  text-transform: capitalize;
}

.filters-list-container ul li span {
  vertical-align: middle;
}

.message-constainer {
  padding: 5px;
  font-size: 15px;
  font-weight: bold;
  opacity: 0.6;
  text-align: center;
  height: 101px;
}


.amount-summary-container{

  padding:9px;
}
.amount-summary-container .title {
  font-size: 16px;
  font-weight: 500;
  opacity: 0.8;
}
.amount-summary-container ul {
  list-style: none;
  margin-left: -46px;
}
.amount-summary-container ul li {
  display: flex;
  justify-content: space-between;
}

.amount-summary-container ul li span {
  padding: 10px;
  font-weight: 500;
}

.amount-summary-container ul li span i {
  padding: 10px;
  font-size: 100;
  font-size: 12px;
}

.amount-summary-container ul li span:nth-child(odd) {
  font-weight: bold;
  opacity: 0.5;
}
