

.mobile-customize-filter .close{
    display: none;
}


@media screen and (max-width: 600px) {

.mobile-customize-filter{
    position: absolute;
    z-index: 1;
    right: 44px;
    height: 100vh;
}

.close{
    display: block !important;
}


.centered-content{
    text-align-last: center;
}

.quantity-container{
    justify-content: center;

}

.centered-content button{
    width: 85%;
}

.body-container {
    margin: 15px 0px;
    padding: 15px 15px;
}
}